{%  extends "layout.html" %}
{% block body %}
        <div class="section page">

        <div class="wrapper">

            <h1>Contact</h1>


            <p>I&rsquo;d love to hear from you! Complete the form to send me an email.</p>

            <form method="post" action="{% url 'shirts:contact' %}">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Send">

            </form>

        </div>

    </div>
{% endblock %}